--controls: none;
--controls-backdrop-color: rgba(0, 0, 0, 0.6);
--harvey-serif: "HarveySerifFont", "HarveySerifFont Fallback";
--harvey-sans: "HarveySansFont", "HarveySansFont Fallback";
--form-max-width: 814px;
--form-row-gap: 2rem;
--form-row-margin-bottom: 0rem;
--form-field-gap: .5rem;
--form-input-height: 3rem;
--form-input-padding: 1.25rem;
--form-input-border-radius: 4px;
--form-font-size: .875rem;
--form-title-font-size: 2rem;
--form-input-font-size: 1rem;
--form-button-margin-top: 14px;
--form-title-margin-bottom: 20px;
--form-bg-color: var(--color-gray-50-ivory);
--form-text-color: var(--color-gray-600);
--form-title-color: var(--color-gray-950-ink);
--form-transition: all .2s ease-in-out;
--form-input-border-color: var(--color-gray-500);
--form-input-border-hover-color: var(--color-gray-950-ink);
--form-input-text-color: var(--color-gray-950-ink);
--form-input-selection-color: var(--color-gray-200);
--form-checkbox-accent-color: var(--color-gray-50-ivory);
--form-select-icon-color: var(--color-gray-500);
--form-error-bg-color: var(--color-gray-700);
--form-focus-ring-color: var(--color-gray-500);
--form-button-bg-color: var(--color-gray-950-ink);
--form-button-text-color: var(--color-gray-50-ivory);
--form-button-hover-color: var(--color-gray-800);
--form-button-active-color: var(--color-gray-400);
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-translate-z: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-scale-z: 1;
--tw-rotate-x: initial;
--tw-rotate-y: initial;
--tw-rotate-z: initial;
--tw-skew-x: initial;
--tw-skew-y: initial;
--tw-pan-x: initial;
--tw-pan-y: initial;
--tw-pinch-zoom: initial;
--tw-space-y-reverse: 0;
--tw-space-x-reverse: 0;
--tw-divide-x-reverse: 0;
--tw-border-style: solid;
--tw-divide-y-reverse: 0;
--tw-gradient-position: initial;
--tw-gradient-from: #0000;
--tw-gradient-via: #0000;
--tw-gradient-to: #0000;
--tw-gradient-stops: initial;
--tw-gradient-via-stops: initial;
--tw-gradient-from-position: 0%;
--tw-gradient-via-position: 50%;
--tw-gradient-to-position: 100%;
--tw-leading: initial;
--tw-font-weight: initial;
--tw-tracking: initial;
--tw-ordinal: initial;
--tw-slashed-zero: initial;
--tw-numeric-figure: initial;
--tw-numeric-spacing: initial;
--tw-numeric-fraction: initial;
--tw-shadow: 0 0 #0000;
--tw-shadow-color: initial;
--tw-shadow-alpha: 100%;
--tw-inset-shadow: 0 0 #0000;
--tw-inset-shadow-color: initial;
--tw-inset-shadow-alpha: 100%;
--tw-ring-color: initial;
--tw-ring-shadow: 0 0 #0000;
--tw-inset-ring-color: initial;
--tw-inset-ring-shadow: 0 0 #0000;
--tw-ring-inset: initial;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-offset-shadow: 0 0 #0000;
--tw-outline-style: solid;
--tw-blur: initial;
--tw-brightness: initial;
--tw-contrast: initial;
--tw-grayscale: initial;
--tw-hue-rotate: initial;
--tw-invert: initial;
--tw-opacity: initial;
--tw-saturate: initial;
--tw-sepia: initial;
--tw-drop-shadow: initial;
--tw-drop-shadow-color: initial;
--tw-drop-shadow-alpha: 100%;
--tw-drop-shadow-size: initial;
--tw-backdrop-blur: initial;
--tw-backdrop-brightness: initial;
--tw-backdrop-contrast: initial;
--tw-backdrop-grayscale: initial;
--tw-backdrop-hue-rotate: initial;
--tw-backdrop-invert: initial;
--tw-backdrop-opacity: initial;
--tw-backdrop-saturate: initial;
--tw-backdrop-sepia: initial;
--tw-duration: initial;
--tw-ease: initial;
--tw-content: "";
--font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--spacing: .25rem;
--text-xs: .75rem;
--text-xs--line-height: calc(1/.75);
--text-sm: .875rem;
--text-sm--line-height: calc(1.25/.875);
--text-base: 1rem;
--text-base--line-height: calc(1.5/1);
--text-lg: 1.5rem;
--text-lg--line-height: calc(1.75/1.125);
--text-xl: 1.75rem;
--text-xl--line-height: calc(1.75/1.25);
--text-2xl: 2rem;
--text-2xl--line-height: calc(2/1.5);
--text-3xl: 2.25rem;
--text-3xl--line-height: calc(2.25/1.875);
--text-4xl: 2.5rem;
--text-4xl--line-height: calc(2.5/2.25);
--text-5xl: 3rem;
--text-5xl--line-height: 1;
--text-6xl: 3.5rem;
--text-6xl--line-height: 1;
--text-7xl: 4rem;
--text-7xl--line-height: 1;
--text-8xl: 4.5rem;
--text-8xl--line-height: 1;
--text-9xl: 5rem;
--text-9xl--line-height: 1;
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-bold: 700;
--font-weight-extrabold: 800;
--tracking-tight: -.025em;
--tracking-wide: .025em;
--leading-tight: 1.25;
--leading-snug: 1.375;
--radius-xs: .125rem;
--radius-sm: .25rem;
--radius-md: .375rem;
--radius-lg: .5rem;
--radius-xl: .75rem;
--radius-2xl: 1rem;
--ease-out: cubic-bezier(0,.7,.3,1);
--ease-in-out: cubic-bezier(.7,0,.3,1);
--animate-spin: spin 1s linear infinite;
--animate-pulse: pulse 2s cubic-bezier(.4,0,.6,1)infinite;
--blur-sm: 8px;
--blur-md: 12px;
--aspect-video: 16/9;
--default-transition-duration: .15s;
--default-transition-timing-function: cubic-bezier(.4,0,.2,1);
--default-font-family: var(--font-sans);
--default-mono-font-family: var(--font-mono);
--color-gray-950-ink: #0f0e0d;
--color-gray-900: #1f1d1a;
--color-gray-800: #33312c;
--color-gray-700: #524f49;
--color-gray-600: #706d66;
--color-gray-500: #8f8b85;
--color-gray-400: #adaba5;
--color-gray-300: #cccac6;
--color-gray-200: #e5e5e3;
--color-gray-100: #f2f1f0;
--color-gray-50-ivory: #fafaf9;
--color-white: #fff;
--color-black: #000;
--color-dark-casal: #333f40;
--color-dark-velvet: #373340;
--color-dark-bronze: #593d3a;
--color-light-blush: #d9cdcc;
--color-red-50: #feeaea;
--color-red-500: #f26161;
--color-green: #16a34a;
--color-yellow: #eab308;
--font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
--font-fallback: var(--font-system),sans-serif;
--font-harvey-serif: var(--harvey-serif),var(--font-fallback);
--font-harvey-sans: var(--harvey-sans),var(--font-fallback);
--text-md: 1.25rem;
--text-10xl: 6rem;
--text-11xl: 7rem;
--text-12xl: 8rem;
--text-13xl: 9rem;
--text-14xl: 10rem;
--spacing-xs: .4375rem;
--spacing-sm: .875rem;
--spacing-md: 1.75rem;
--spacing-lg: 3.5rem;
--spacing-xl: 7rem;
--spacing-2xl: 8.75rem;
--base-header-height: 4.5rem;
--base-header-banner-height: 2.75rem;
--header-height: var(--base-header-height);
--max-width-page-width: 1728px;
--max-width-nav: 1920px;
--max-width-media: 1092px;
--max-width-post: 675px;
--ease-in-soft-out: cubic-bezier(.7,0,.7,.7);
--ease-out-soft-in: cubic-bezier(.3,.3,.3,1);
--animate-accordion-down: accordion-down .15s ease-in-out;
--animate-accordion-up: accordion-up .15s ease-in-out;
--animate-shimmer: shimmer 2.5s linear infinite;
--z-header: 100;
--z-overlay: 1000;
--z-dropdown: 10000;
--z-modal: 100000;
--z-popover: 1000000;
--animate-fade-in: fade-in .15s ease-in-out;
--animate-fade-out: fade-out .15s ease-in-out;
--animate-select-in: selectFadeIn .2s var(--ease-in-out);
--animate-select-out: selectFadeOut .2s var(--ease-in-out);
--animate-select-in-top: selectFadeInTop .2s var(--ease-in-out);
--animate-select-out-top: selectFadeOutTop .2s var(--ease-in-out);
--spacing-top-page-spacing: 4.125rem;
--lightningcss-light:  ;
--lightningcss-dark: initial;
--color-scheme-theme: dark;
--text-primary: var(--color-gray-50-ivory);
--text-secondary: var(--color-gray-300);
--text-muted: var(--color-gray-500);
--text-disabled: var(--color-gray-800);
--text-primary-inverse: var(--color-gray-950-ink);
--text-emphasis: var(--color-gray-200);
--text-destructive: var(--color-red-500);
--background-primary: var(--color-gray-950-ink);
--background-secondary: var(--color-gray-900);
--background-destructive: var(--color-red-50);
--background-success: var(--color-green);
--background-warning: var(--color-yellow);
--background-primary-inverse: var(--color-gray-50-ivory);
--background-primary-hover: var(--color-gray-900);
--background-secondary-hover: var(--color-gray-800);
--border-primary: var(--color-gray-800);
--border-secondary: var(--color-gray-700);
--border-tertiary: var(--color-gray-900);
--border-primary-focus: var(--color-gray-950-ink);
--border-destructive: var(--color-red-500);
--nav-blur-amount: 16px;
--nav-blur-tint: oklch(from var(--color-gray-950-ink)l c h/.6);
--stroke-primary: var(--color-gray-950-ink);
--stroke-primary-hover: var(--color-gray-50-ivory);
--media-object-position: center;
--media-background-color: transparent;
--play-button: none;
--seek-backward-button: none;
--seek-forward-button: none;
--time-display: none;
--pip-button: none;
--rendition-selectmenu: none;
--volume-range: none;
--media-object-fit: cover;
--dialog: none;
--slash-width: 2ch;
--tw-enter-opacity: initial;
--tw-enter-scale: initial;
--tw-enter-rotate: initial;
--tw-enter-translate-x: initial;
--tw-enter-translate-y: initial;
--bottom-controls: none;
--center-controls: none;
--page-top-padding: 0px;
--playback-rate-button: none;
--slide-height: 19rem;
--slide-size: calc(100vw - 56px + .5rem);
--slide-spacing: .5rem;
--tw-exit-opacity: 0;
--tw-exit-scale: initial;
--tw-exit-rotate: initial;
--tw-exit-translate-x: initial;
--tw-exit-translate-y: initial;
--table-border-color: var(--border-secondary);
--table-scroll-indicator-opacity: .75;
--text-header-subtext: var(--text-secondary);
--text-header-subtext-hover: var(--text-primary);
--border-header: var(--border-primary);